:root {
  --ZjColorTextPrimary: #303133 !important;
  --ZjColorTextRegular: #606266 !important;
  --ZjColorTextSecondary: #909399 !important;
  --ZjColorTextPlaceholder: #c0c4cc !important;
  --ZjBorderColorBase: #dcdfe6 !important;
  --ZjBorderColorLight: #e4e7ed !important;
  --ZjBorderColorLighter: #ebeef5 !important;
  --ZjBorderColorExtraLight: #f2f6fc !important;
  --ZjColorWhite: #ffffff !important;
  --ZjColorBlack: #000000 !important;
  --ZjBackgroundColorBase: #f5f7fa !important;
  --ZjColorSuccess: #00be00 !important;
  --ZjColorWarning: #e79e03 !important;
  --ZjColorDanger: #e70313 !important;
  --ZjColorInfo: #909399 !important;
  --ZjColorPrimary: #0089ff !important;
  --ZjColorPrimaryLight1: #33a1ff !important;
  --ZjColorPrimaryLight2: #66b8ff !important;
  --ZjColorPrimaryLight3: #b3dcff !important;
  --ZjColorPrimaryLight4: #e6f3ff !important;
  --ZjColorPrimaryLight: #cce7ff !important;
  --ZjColorPrimaryLighter: #e6f3ff !important;
  --ZjColorSuccessLight: #ccf2cc !important;
  --ZjColorSuccessLighter: #e6f9e6 !important;
  --ZjColorWarningLight: #faeccd !important;
  --ZjColorWarningLighter: #fdf5e6 !important;
  --ZjColorDangerLight: #facdd0 !important;
  --ZjColorDangerLighter: #fde6e7 !important;
  --ZjColorInfoLight: #e9e9eb !important;
  --ZjColorInfoLighter: #f4f4f5 !important;
  --ZjButtonColorPrimaryHover: #33a1ff !important;
  --ZjButtonColorPrimaryActive: #007be6 !important;
  --ZjButtonColorPrimaryDisabled: #99d0ff !important;
  --ZjButtonPlainBorderColorPrimary: #99d0ff !important;
  --ZjButtonPlainBackgroundColorPrimary: #e6f3ff !important;
  --ZjButtonPlainColorPrimaryDisabled: #66b8ff !important;
  --ZjButtonColorSuccessHover: #33cb33 !important;
  --ZjButtonColorSuccessActive: #00ab00 !important;
  --ZjButtonColorSuccessDisabled: #99e599 !important;
  --ZjButtonPlainBorderColorSuccess: #99e599 !important;
  --ZjButtonPlainBackgroundColorSuccess: #e6f9e6 !important;
  --ZjButtonPlainColorSuccessDisabled: #66d866 !important;
  --ZjButtonColorWarningHover: #ecb135 !important;
  --ZjButtonColorWarningActive: #d08e03 !important;
  --ZjButtonColorWarningDisabled: #f5d89a !important;
  --ZjButtonPlainBorderColorWarning: #f5d89a !important;
  --ZjButtonPlainBackgroundColorWarning: #fdf5e6 !important;
  --ZjButtonPlainColorWarningDisabled: #f1c568 !important;
  --ZjButtonColorDangerHover: #ec3542 !important;
  --ZjButtonColorDangerActive: #d00311 !important;
  --ZjButtonColorDangerDisabled: #f59aa1 !important;
  --ZjButtonPlainBorderColorDanger: #f59aa1 !important;
  --ZjButtonPlainBackgroundColorDanger: #fde6e7 !important;
  --ZjButtonPlainColorDangerDisablede: #f16871 !important;
  --ZjButtonColorInfoHover: #a6a9ad !important;
  --ZjButtonColorInfoActive: #82848a !important;
  --ZjButtonColorInfoDisabled: #d3d4d6 !important;
  --ZjButtonPlainBorderColorInfo: #d3d4d6 !important;
  --ZjButtonPlainBackgroundColorInfo: #f4f4f5 !important;
  --ZjButtonPlainColorInfoDisabled: #bcbec2 !important;
}
