:root {
  // 主题
  --r1-theme: #{$theme};
  // 缩放
  --r1-scale: #{$scale};
  --r1-maxWidth: #{$maxWidth};
  --r1-safeWidth: #{$safeWidth};
}
html,
body,
#app {
  height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout {
  @include flexColumn();
  height: 100%;
  overflow-y: auto;
  &-content {
    width: px2rem(1400px);
    margin: 0 auto;
    flex: 1;
  }

}
.bg {
  background: #f8f9fd;
}
.g {
  &-btn {
    user-select: none;
    cursor: pointer;
  }
}
