@use 'sass:math';
// margin: px2rem(16px 16px 32px 16px);
// width: px2rem(20px)
// px转rem
@function px2rem($px) {
  $base-font-size: 16px; // 设置基准字体大小
  @if type-of($px) == number {
    @return math.div($px, $base-font-size) * 1rem;
  } @else if type-of($px) == list {
    $rem-values: (); // 创建一个空列表用于存储转换后的 rem 值
    @each $value in $px {
      $rem-value: calc(
        math.div($value, $base-font-size) * 1rem * var(--r1-scale)
      );
      $rem-values: append(
        $rem-values,
        $rem-value
      ); // 将转换后的 rem 值添加到列表中
    }
    @return $rem-values;
  } @else {
    @warn "无效的类型. 期望 number or list";
    @return null;
  }
}


@mixin flexColumn(){
  display: flex;
  flex-direction: column;
}